body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #32425c;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/font/fontello.eot?42563023');
  src: url('../fonts/fontello/font/fontello.eot?42563023#iefix') format('embedded-opentype'),
       url('../fonts/fontello/font/fontello.woff2?42563023') format('woff2'),
       url('../fonts/fontello/font/fontello.woff?42563023') format('woff'),
       url('../fonts/fontello/font/fontello.ttf?42563023') format('truetype'),
       url('../fonts/fontello/font/fontello.svg?42563023#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?42563023#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-up-dir:before { content: '\e500'; } /* '' */
.icon-down-dir:before { content: '\e501'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-bookmark:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-login:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-check:before { content: '\e807'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */

q {
  quotes: "\00ab" "\00bb";
}

.container {
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/*Стили метки .new*/
.new::after {
  content: "new";
  position: absolute;
  top: 3px;
  right: -25px;
  width: 90px;
  height: 30px;
  z-index: 30;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  background-color: #ee3643;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);	
}

/*Стили хедера*/
header {
  background-color: #f1f5f7;
}

.info-order-menu {
  padding-left: 130px;
  background-color: #293449;
}

.technomart-logo {
  float: left;
  width: 220px;
  padding: 10px 0;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.info-order-form {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;	
}

.info-order-form ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-order-form li {
  display: inline-block;
  min-height: 42px;
  margin-right: -4px;
  vertical-align: top;
}

.info-order-form li:first-child {
  padding-right: 0;
}

.info-order-form li:last-child {
  padding-right: 20px;
}

.info-order-form label {
  padding-left: 15px;
  line-height: 42px;
  vertical-align: middle;  
}

.info-order-form [class^="icon"] {
  margin-right: 10px;
  opacity: 0.3;
}

.info-order-form input {
  background-color: transparent;
  border: none;
}

.info-order-form input[type="search"] {
  width: 270px;
  height: 42px;
  padding: 0;
  padding-left: 50px;
  background: url("../img/sprite.png") -260px 10px no-repeat;
  
}

.info-order-form input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}
.info-order-form input[type="search"]::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.info-order-form .bookmark-field,
.info-order-form .basket-field {
  width: 25px;
  color: #ffffff;	
}

.info-order-form li:hover {
  background-color: #212a3a;
}

.info-order-form li:hover span {
  opacity: 1;
}

.info-order-form li:active {
  color: #a2a5a9;
  background-color: #161d29;
}

.info-order-form li:active span {
  opacity: 0.5;
}

.info-order-form li:active input {
  color: #a2a5a9;
}

.info-order-form input[type="search"]:hover {
  background: url("../img/sprite.png") -264px -43px no-repeat;
  background-color: #212a3a;
}

.info-order-form input[type="search"]:focus {
  color: #000000;
  background: url("../img/sprite.png") -262px -90px no-repeat;
  background-color: #ffffff;
}

.info-order-form .order-field {
  padding: 12px 20px;
  color: #ffffff;
  background-color: #63a63e;
  border: none;
}

.info-order-form .order-field:hover {
  background-color: #5fbb2d;
}

.info-order-form .order-field:active {
  opacity: 0.5;
}

.connection {
  padding-top: 47px;
  padding-left: 130px;
  padding-right: 130px;
  font-size: 0;
  text-align: right;	
}

.connection-info {
  display: inline-block;
  width: 200px;
  margin: 0;
  vertical-align: top;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  text-align: left;
}

.connection-office {
  display: inline-block;
  margin-left: 68px;
  width: 270px;
  vertical-align: top;
}

.connection-office .phone {
  margin: 0;
  padding: 8px 9px;
  font-size: 21px;
  line-height: 21px;
  color: #e92920;
  text-align: left;
  border: 3px solid #ffffff;
}

.connection-office .icon-phone {
  margin-right: 32px;
  color: #000000;
  opacity: 0.3;	
}

.connection-office .address {
  margin: 0;
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}

.connection-user {
  display: inline-block;
  width: 280px;
  margin-left: 70px;
}

.user-entry,
.user-registration {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;	
}

.user-entry {
  float: left;
  padding: 10px;
  padding-right: 20px;	
}

.user-registration {
  float: right;
  padding: 10px 23px;	
}

.user-entry .icon-login {
  margin-right: 9px;
  opacity: 0.3;
}

.header-main-menu {
  margin: 0 130px;
  margin-top: 42px;
  margin-bottom: 60px;
  text-align: center;
  background-color: #32425c;
}

.header-main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;	
}

.header-main-menu li {
  display: inline-block;
  vertical-align: middle;
  font-size: 17px;
  line-height: 17px;
}

.header-main-menu a {
  display: block;
  padding: 20px 30px;
  color: #ffffff;
  text-decoration: none;
  background-color: #32425c;
  box-shadow: inset 0 -5px #293449;	
}

.header-main-menu a:hover {
  background-color: #293449;       
}

.header-main-menu a:active {
  opacity: 0.5;
  background-color: #293449;
}

/*Главная страница. Cтили раздела .promo*/
.promo {
  padding: 0 130px;
  padding-top: 60px;
  background-color: #ffffff;
}

.main-btn {
  display: block;
  padding: 10px 48px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 2px;	
}

.main-btn:hover {
  background-color: #ca2c37;
}

.main-btn:active {
  background-color: #ba2732;
}

/*Главная страница. Стили слайдера в разделе .promo*/
.promo-slider {
  position: relative;
  float: left;
  width: 620px;
  height: 266px;
  box-sizing: border-box;
  color: #ffffff;
}

.promo-slider h2 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 3px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.promo-slider p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.promo-slides {
  position: relative;
}

.promo-slide-1,
.promo-slide-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
  height: 266px;
  box-sizing: border-box;
  padding-top: 17px;
  padding-left: 25px;
}

.promo-slide-1 {
  display: none;
  background: url("../img/worker-perforator.jpg") no-repeat #663300;	
}

.promo-slide-2 {
  display: none;
  background: url("../img/worker-drill.jpg") no-repeat #663300;	
}

.promo-slider .main-btn {
  position: absolute;
  left: 25px;
  bottom: 22px;	
}

.promo-slider input {
  display: none;	
}

.promo-slider .controls-left,
.promo-slider .controls-right {
  position: absolute;
  top: 120px;
  z-index: 30; 
}

.promo-slider .controls-left {
  left: 27px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);	
}

.promo-slider .controls-right  {
  right: 27px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);	
}

.promo-slider .controls-left label,
.promo-slider .controls-right label {
  display: none;
  width: 25px;
  height: 25px;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  background: transparent;
  cursor: pointer;	
}

.promo-slider .controls-left label:hover,
.promo-slider .controls-right label:hover {
  opacity: 0.5;	
}

#promo-slide-1:checked ~ .controls-right label[for="promo-slide-2"],
#promo-slide-2:checked ~ .controls-right label[for="promo-slide-1"] {
  display: block;
}

#promo-slide-1:checked ~ .controls-left label[for="promo-slide-2"],
#promo-slide-2:checked ~ .controls-left label[for="promo-slide-1"] {
  display: block;
}

.promo-slider .active-mark {
  position: absolute;
  left: 292px;
  bottom: 33px;
  z-index: 30;
}

.promo-slider .active-mark label {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 3px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#promo-slide-1:checked ~ .active-mark label[for="promo-slide-1"],
#promo-slide-2:checked ~ .active-mark label[for="promo-slide-2"] {
  background-color: #ee3643;	
}

#promo-slide-1:checked ~ .promo-slides .promo-slide-1 {
  display: block;	
}

#promo-slide-2:checked ~ .promo-slides .promo-slide-2 {
  display: block;	
}
/*Конец стилей слайдера*/

.promo-block {
  position: relative;
  width: 300px;
  height: 124px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px 22px;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  overflow: hidden;
}

.promo-block p {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;	
}

.promo-btn {
  display: block;
  width: 135px;
  min-height: 37px;
  box-sizing: border-box;
  margin-left: 4px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);  
  border-radius: 3px;	
}

.promo-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-materials {
  float: left;
  margin-right: 20px;
  background: url("../img/icon-materials.png") 212px 33px no-repeat #f6b22d; 
}

.promo-instrument {
  float: left;
  background: url("../img/icon-instrument.png") 197px 33px no-repeat #4aafd3; 
}

.promo-technics {
  float: right;
  background: url("../img/icon-technics.png") 190px 33px no-repeat #cc79d1; 
}

.promo-discount {
  float: right;
  background: url("../img/icon-discount.png") 195px 27px no-repeat #85d179; 
}

.promo-delivery {
  float: right;
  background: url("../img/icon-delivery.png") 192px 33px no-repeat #f6b22d; 
}

/*Главная страница. Стили раздела .popular-products*/
.popular-products {
  padding: 0 130px;
  padding-top: 30px;
}

.popular-header {
  padding: 30px 25px;
  background-color: #f7f3ec;	
}

.popular-header h2 {
  display: inline-block;
  margin: 0;
}

.popular-header .main-btn {
  float: right;
  width: 252px;
  box-sizing: border-box;
  margin-top: -4px;
  padding: 9px 0;
}

/*Стили карточки товара .catalog-item*/
.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  min-height: 317px;
  margin-top: 20px;
  margin-right: 16px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #e5e5e5;
  overflow: hidden;	
}

.catalog-item .wrapper {
  position: relative;
  width: 184px;
  height: 164px;
  margin: 0 auto;
  margin-top: 5px;  
}

.catalog-item .buy-form {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 184px;
  height: 164px;
  padding-top: 40px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.catalog-item .buy-btn,
.catalog-item .bookmark-btn {
  width: 130px;
  margin: 0 auto;
  padding: 7px 0;
  box-sizing: border-box;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 2px;  
}

.catalog-item .buy-btn {
  margin-bottom: 8px;
  color: #ffffff;
  text-align: left;
  background-color: #63a63e;
  box-shadow: 0 3px #367315;
}

.catalog-item .buy-btn span {
  padding-left: 10px;
  padding-right: 18px;
  font-size: 17px;
  opacity: 0.3;
}

.catalog-item .buy-btn a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);	
}

.catalog-item:hover .buy-form {
  display: block;
}

.catalog-item .buy-btn:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;  
}

.catalog-item .buy-btn:active {
  background-color: #518534;
  border-color: #518534;
  box-shadow: none;  
}

.catalog-item .buy-btn:hover span,
.catalog-item .buy-btn:active span {
  opacity: 1;
}



.catalog-item .bookmark-btn:hover {
  border-color: #32425c;  
}

.catalog-item .bookmark-btn:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}


.catalog-item p {
  margin: 0;
  padding: 10px 23px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-item .catalog-old-price {
  min-height: 24px;
  padding: 2px 23px;
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
  text-transform: uppercase;
}

.catalog-item .catalog-price {
  position: relative;
  width: 110px;
  margin: 0 auto;
  padding: 10px;
  font-size: 17px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 2px;
}

.catalog-price::after {
  position: absolute;
  top: 0;
  right: -30px;
  content: "";
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

.popular-products .catalog-item:nth-of-type(4n+1) {
  margin-right: 0;	
}

/*Главная страница. Стили раздела .popular-brends*/
.popular-brends {
  padding: 0 130px;
  padding-top: 19px;
  padding-bottom: 85px;
}

.brend-item {
  display: inline-block;
  width: 220px;
  min-height: 143px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-right: 16px;
  text-align: center;
  line-height: 143px;
  vertical-align: top;
  border: 1px solid #e7e7e7;
}

.brend-item:nth-child(4n) {
  margin-right: 0;
}

.brend-item img {
  vertical-align: middle;
}

.brend-item:hover {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.brend-item:active {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.brend-item:active img {
  opacity: 0.3;
}

/*Главная страница. Стили раздела .service-descript*/
.service-descript {
  padding: 0 130px;
  padding-top: 40px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f6f8;
}

.service-block {
  margin-right: 550px;
}

/*Главная страница. Стили слайдера раздела .service-descript*/
.service-slider {
  min-height: 285px;
  margin-top: 70px;
}

.service-slider input {
  display: none;
}

.service-slider-controls {
  position: relative;
  float: left;
  width: 240px;
  vertical-align: top;  
}

.service-slider-controls::after {
  position: absolute;
  top: -42px;
  right: 0;
  content: "";
  width: 10px;
  min-height: 272px;
  background: url("../img/shadow-vertical.png") no-repeat transparent;
}

.service-slider-controls ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-slider-controls label {
  display: block;
  padding: 17px 21px;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  background-color: #32425c;
  border-top: 1px solid #405069; 
  border-bottom: 1px solid #293449; 
}

.service-slider-controls label:hover {
  background-color: #293449;
}

.service-slides {
  position: relative;
  float: right;
  width: 620px;
  min-height: 285px;
}

.service-slides h2 {
  margin: 0;
  font-size: 34px;
  color: #32425c;
}

.service-slides p {
  width: 275px;
  margin-top: 30px;
  margin-bottom: 0;
}

.service-slide-1 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
  min-height: 285px;
  background: url(../img/service-delivery.png) 100% 25px no-repeat transparent;
}

.service-slide-2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
  min-height: 285px;
  background: url(../img/service-guarantee.png) 100% 0px no-repeat transparent;
}

.service-slide-2 p {
  width: 365px;	
}

.service-slide-3 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
  min-height: 285px;
  background: url(../img/service-credit.png) 100% 0 no-repeat transparent;
}

.service-slide-3 p {
  width: 300px;	
}

.service-slide-3 .main-btn {
  display: inline-block;
  margin-top: 26px;
  padding: 9px 44px;	
}

#service-slide-1:checked ~ .service-slider-controls label[for="service-slide-1"],
#service-slide-2:checked ~ .service-slider-controls label[for="service-slide-2"],
#service-slide-3:checked ~ .service-slider-controls label[for="service-slide-3"] {
  padding-top: 18px;
  padding-bottom: 18px;
  color: #32425c;
  background-color: #ffffff;
  border: none;	
}

#service-slide-1:checked ~ .service-slides .service-slide-1 {
  display: block;	
}

#service-slide-2:checked ~ .service-slides .service-slide-2 {
  display: block;	
}

#service-slide-3:checked ~ .service-slides .service-slide-3 {
  display: block;	
}

/*Главная страница. Стили раздела .info-contacts*/
.info-contacts {
  position: relative;
  padding: 0 130px;
  padding-top: 53px;
  padding-bottom: 85px;
  line-height: 24px;
  color: #000000;	
}

.info-technomart {
  float: left;
  width: 500px;
}

.info-technomart p {
  padding-bottom: 10px;	
}

.info-technomart p:last-of-type {
  padding-bottom: 0;	
}

.info-technomart ul {
  margin: 0;
  padding: 0;
  list-style: none;	
}

.info-technomart li {
  position: relative;
  margin-left: 37px;
  font-size: 16px;
  line-height: 39px;	
}

.info-technomart li::after {
  position: absolute;
  left: -35px;
  top: 20px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #e83643;
}

.info-technomart .main-btn {
  display: inline-block;
  margin-top: 26px;
  padding: 9px 42px;	
}

.contacts-technomart {
  float: right;
  width: 300px;	
}

.contacts-technomart p {
  padding-bottom: 10px;	
}

.contacts-technomart a.open-map {
  display: block;
  padding-top: 10px;
  padding-bottom: 32px;	
}

/*Страница КАТАЛОГ. Стили раздела .inner-header*/
.inner-header {
  padding: 0 130px;
}

.inner-header ul.breadcrumbs {
  margin: 0;
  padding: 20px 0;
  margin-left: -4px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  margin-right: 35px;  
}

.breadcrumbs li::after {
  position: absolute;
  top: 5px;
  right: -17px;
  content: "";
  width: 6px;
  height: 6px;
  background-color: transparent;
  border-right: 1px solid #c1c6ce;
  border-bottom: 1px solid #c1c6ce;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.breadcrumbs a.home {
  font-size: 16px;
  color: #c1c6ce;
}

.inner-header h1 {
  margin: 0;
  padding: 29px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

/*Страница КАТАЛОГ. Стили панели фильтров aside.catalog-filter*/
.catalog {
  margin-top: 20px;
  padding: 0 130px;  
}

.catalog-filter {
  float: left;
  width: 220px;
  box-sizing: border-box;
  margin-right: 15px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.catalog-filter > p {
  margin: 0;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;	
}

.catalog-filter-form  fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-form legend {
  padding: 15px 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.catalog-filter-form .filter-price {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-price legend {
  padding-top: 10px;
  padding-bottom: 15px;
}

.price-range {
  position: relative;
  min-height: 38px;
  padding: 20px;
  background-color: #f7f3ec;  
}

.price-range-line {
  position: relative;
  height: 2px;
  margin-top: 18px;
  margin-left: 10px;
  background-color: #d7dcde;
}

.price-medium-line {
  position: absolute;
  left: 10px;
  width: 120px;
  height: 2px;
  background-color: #00ca74;
}

.price-range-slide {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 #ababab;
  cursor: pointer;
}

.price-range-slide::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;	
}

.slide-left {
  left: -10px;	
}

.slide-right {
  left: 130px;	
}

.price-value {
  margin-top: 10px;
  font-size: 17px;
  line-height: 18px;
  vertical-align: middle;
}

.price-value span {
  display: inline-block;
  padding: 10px 7px;
}

.price-value input{
  width: 75px;
  padding: 10px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.price-value input[name="min-price"] {
  float: left;
}

.price-value input[name="max-price"]{
  float: right;
}

.catalog-filter-form .filter-brend {
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-brend legend {
  padding-top: 18px;
  padding-bottom: 11px;
}

.filter-brend ul {
  margin: 0;
  padding: 0;
  list-style: none;	
}

.filter-brend li {
  padding-bottom: 13px;
  font-size: 15px;
  text-align: left;
}

.filter-brend input {
  display: none;	
}

.filter-brend input + label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 10px;
  vertical-align: middle;
  background: url("../img/sprite.png") 0 -48px no-repeat;
  opacity: 0.7;  
}

.filter-brend input:checked + label::before {
  background: url("../img/sprite.png") -53px -48px no-repeat;
  opacity: 0.7;
}

.filter-brend input + label:hover::before {
  background: url("../img/sprite.png") 0px -48px no-repeat;
  opacity: 1;
}

.filter-brend input:checked + label:hover::before {
  background: url("../img/sprite.png") -53px -48px no-repeat;
  opacity: 1;
}

.filter-brend input:disabled + label::before {
  background: url("../img/sprite.png") 0 -48px no-repeat;
  opacity: 0.2;  
}

.filter-brend input:checked:disabled + label::before {
  background: url("../img/sprite.png") -53px -48px no-repeat;
  opacity: 0.2;  
}

.filter-power legend {
  padding-top: 19px;
  padding-bottom: 10px;
}

.filter-power ul {
  margin: 0;
  padding: 0;
  list-style: none;	
}

.filter-power li {
  padding-bottom: 12px;
  font-size: 15px;
  text-align: left;
}

.filter-power input {
  display: none;	
}

.filter-power input + label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 10px;
  vertical-align: middle;
  background: url("../img/sprite.png") -121px -47px no-repeat;
  opacity: 0.7;  
}

.filter-power input:checked + label::before {
  background: url("../img/sprite.png") -177px -46px no-repeat;
  opacity: 0.7;
}

.filter-power input + label:hover::before {
  background: url("../img/sprite.png") -121px -47px no-repeat;
  opacity: 1;
}

.filter-power input:checked + label:hover::before {
  background: url("../img/sprite.png") -177px -46px no-repeat;
  opacity: 1;
}

.filter-power input:disabled + label::before {
  background: url("../img/sprite.png") -121px -47px no-repeat;
  opacity: 0.2;  
}

.filter-power input:checked:disabled + label::before {
  background: url("../img/sprite.png") -177px -46px no-repeat;
  opacity: 0.2;  
}

.filter-btn {
  display: block;
  margin-top: 65px;
  padding: 9px 38px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

/*Страница КАТАЛОГ. Стили контента каталога*/
.catalog-content {
  float: right;
  width: 700px;	
}

.catalog-sorting {
  padding: 10px 20px;
  padding-bottom: 5px;
  padding-right: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.catalog-sorting span {
  margin-right: 135px;
}

.catalog-sorting > a {
  margin-right: 65px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #ee3543;	
}

.catalog-sorting > a:last-of-type {
  margin-right: 0;	
}

.catalog-sorting > a:hover {
  color: #000000;	
}

.sorting-arrow {
  float: right;
  width: 70px;
}

.sorting-arrow a {  
  font-size: 21px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sorting-arrow a:hover {
 color: #000000;
}

.catalog-sorting a.current,
.catalog-sorting a.current:hover {
  color: #ee3643;
  border-bottom: none;	
}

.catalog-content .catalog-item:nth-child(3n+1) {
  margin-right: 0;	
}

.catalog-pagination {
  padding-top: 53px;
  padding-bottom: 60px;
}

.pagination-btn {
  display: inline-block;
  width: 37px;
  height: 37px;
  margin-right: 7px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 37px;
  color: #000000;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-btn.next {
  width: 138px;	
}

.pagination-btn:hover {
  border-color: #bdc6ca;
}

.pagination-btn:active {
  border-color: #ee3643;
}

.pagination-btn.current {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.inner-text-block {
  padding: 40px 130px;
  padding-bottom: 55px;
  background-color: #f2f6f8;	
}

/*Стили футера*/
.footer-contacts-menu {
  padding: 0 130px;
  padding-bottom: 30px;
  background-color: #32425c;
}

.footer-contacts {
  float: left;
  width: 350px;
  background-color: transparent;	
}

.footer-contacts .technomart-logo {
  padding: 16px 0;
  font-size: 30px;
}

.footer-contacts p {
  float: left;
  padding-top: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;	
}

.footer-menu {
  float: right;
  width: 570px;
  padding-top: 20px;
  background-color: transparent;	
}

.footer-main-menu ul,
.footer-promo-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.footer-main-menu li,
.footer-promo-menu li {
  display: inline-block;
  margin-left: 57px;
  padding: 17px 0;
  text-align: right;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
}

.footer-main-menu li:first-child,
.footer-promo-menu li:first-child {
  margin-left: 0;	
}

.footer-main-menu a,
.footer-promo-menu a {
  text-decoration: none;	
}

.footer-main-menu a {
  color: #f1f5f7;
}

.footer-promo-menu a {
  color: #ffd180;
}

.footer-main-menu a:hover,
.footer-promo-menu a:hover {
  text-decoration: underline;
}

.footer-main-menu a:active,
.footer-promo-menu a:active {
  opacity: 0.5;
}

.footer-requisites {
  padding: 21px 130px;
  background-color: #293449;
}

.footer-copyright {
  float: left;
  width: 240px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-social {
  width: 300px;
  margin: 0 auto;
  padding: 14px 0;
  padding-left: 75px;
  text-align: center;	
}

.footer-social a.social-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 1px;
  line-height: 40px;
  vertical-align: middle;
  font-size: 0;
  color: #ffffff;
  background-color: #212a3a;
  border-radius: 50%;	
}

.footer-social .social-btn:hover,
.footer-social .social-btn:active {
  background-color: #ee3643;
}

.social-btn-vk {
  background: url("../img/sprite.png") -230px 8px no-repeat;
}

.social-btn-fb {
  background: url("../img/sprite.png") -228px -41px no-repeat;
}

.social-btn-inst {
  background: url("../img/sprite.png") -225px -87px no-repeat;
}

.footer-link {
  float: right;
  width: 110px;
  margin-left: 80px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;	
}

.footer-link a {
  display: block;
  color: #ffd180;
  text-decoration: none;  	
}

.footer-link a:hover {
  text-decoration: underline;
}

.footer-link a:active {
  color: #ee3643;
  text-decoration: none;
}

/*Всплывающие окна*/

@-webkit-keyframes increace {
  0%   {-webkit-transform: translate(300px, 60px) scale(0);transform: translate(300px, 60px) scale(0);}
  100% {-webkit-transform: translate(0, 0) scale(1);transform: translate(0, 0) scale(1);}
}

@keyframes increace {
  0%   {-webkit-transform: translate(300px, 60px) scale(0);transform: translate(300px, 60px) scale(0);}
  100% {-webkit-transform: translate(0, 0) scale(1);transform: translate(0, 0) scale(1);}
}

@-webkit-keyframes pulse {
  0%   {border-color: #ff4754; box-shadow: inset 0 0 0 2px #ff4754;}
  20%  {border-color: #ee3643; box-shadow: inset 0 0 0 3px #ee3643;}
  40%  {border-color: #dd2532; box-shadow: inset 0 0 0 5px #dd2532;}
  60%  {border-color: #cc1421; box-shadow: inset 0 0 0 3px #cc1421;}
  80%  {border-color: #dd2532; box-shadow: inset 0 0 0 3px #dd2532;}
  90%  {border-color: #ee3643; box-shadow: inset 0 0 0 1px #ee3643;}
  100% {border-color: #ee3643; box-shadow: none;}
}

@keyframes pulse {
  0%   {border-color: #ff4754; box-shadow: inset 0 0 0 2px #ff4754;}
  20%  {border-color: #ee3643; box-shadow: inset 0 0 0 3px #ee3643;}
  40%  {border-color: #dd2532; box-shadow: inset 0 0 0 5px #dd2532;}
  60%  {border-color: #cc1421; box-shadow: inset 0 0 0 3px #cc1421;}
  80%  {border-color: #dd2532; box-shadow: inset 0 0 0 3px #dd2532;}
  90%  {border-color: #ee3643; box-shadow: inset 0 0 0 1px #ee3643;}
  100% {border-color: #ee3643; box-shadow: none;}
}

/*Всплывающая интерактивная карта (раздел .info-contacts)*/
.modal-map {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 30;
  width: 940px;
  height: 450px;
  margin-top: -235px;
  margin-left: -465px;
  background: #c5c5c5;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);	
}

/*Всплывающее окно отправки email (раздел .info-contacts)*/
.modal-mail {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  width: 620px;
  margin-top: -205px;
  margin-left: -310px;
  background: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.mail-wrapper {
  display: inline-block;
  margin-bottom: 13px;
  vertical-align: top;
}

.mail-wrapper:first-child {
  margin-right: 15px;	
}

.mail-form {
  display: block;
  padding-top: 37px;
  padding-left: 82px;
  padding-right: 76px;
  padding-bottom: 0;	
}
.mail-form label {
  display: block;
  font-size: 18px;
  line-height: 36px;	
}

.mail-form input,
.mail-form textarea {
  width: 195px;
  padding: 8px 11px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.mail-form textarea {
  width: 435px;
  height: 95px;
  margin-bottom: 10px;
}

.mail-submit {
  padding-top: 46px;
  padding-bottom: 40px;
  background-color: #f1f1f1;	
}

.submit-btn {
  margin: 0 auto;
  padding-left: 200px;
  padding-right: 200px;
  border: none;	
}

/*Всплывающее окно добавления в корзину (карточка товара)*/
.modal-basket {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  width: 620px;
  margin-top: -160px;
  margin-left: -310px;
  background: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);	
}

.modal-basket p {
  padding: 70px 0;
  padding-left: 60px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #000000; 
  background: url("../img/check-basket.png") 80px 50% no-repeat #ffffff;	
}

.modal-basket-btn {
  padding: 40px 80px;
  background-color: #f1f1f1;
}

.basket-btn-1,
.basket-btn-2 {
  width: 220px;
  padding-left: 0;
  padding-right: 0;
}

.basket-btn-1 {
  float: left;
  border: none;	
}
.basket-btn-2 {
  float: right;
  color: #000000;
  background-color: #ffffff;
  border: none;
  	
}

/*Общие классы для всплывающих окон*/
.modal-show {
  display: block;
  -webkit-animation: increace 0.6s;
          animation: increace 0.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;	
}

.modal-show-basket {
  display: block;	
}

.modal-close {
  position: absolute;
  top: 4px;
  right: 10px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 16px;
  left: -1px;
  width: 27px;
  height: 5px;
  background-color: #ee3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-error {
  -webkit-animation: pulse 0.6s forwards;
          animation: pulse 0.6s forwards;
}